body {
    font-family: Roboto;
    text-align: center;
    background-color: black;
}

header {
    background-color: white;
}

#bols {
    width: 45%;
    border-top: 50px;
}

.nav {
    background-color: gray;
    width: fit-content;
    padding: 7px;
    text-decoration: none;
    color: white;   
}

#nav {
    list-style: none;
}