body {
    font-family: sans-serif;
    background-color: white;
    margin: 0;
    text-align: center;
    height: 5000px;
}

header {
    position: fixed;
    text-align: center;
    background-color: white;
    height: 60px;
    width: 100%;
}

#bols-logo {
    width: 130px;
    position: absolute;
    top: 10px;
    left: 10px;
}

nav a {
    text-decoration: none;
    line-height: 60px;
    border-radius: 5px;
    padding: 16px;
    color: black;
    font-weight: 600;
}
nav a:hover {
    transition: 200ms;
    background-color: #022d3d;
    color: white;
}

main {
    color: white;
    text-align: left;
    background-color: #022d3d;
    padding-top: 50px;
    padding-left: 12px;
    padding-bottom: 4px;
}

/*Barra de rolagem*/
body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background-color: #d4d4d4;
}

body::-webkit-scrollbar-thumb {
    background-color: #007099;
}